<div class="row">
  <%= formex_form_for @form, interest_path(@conn, :create), fn f -> %>
    <%= if @form.submitted? do %>Oops, something went wrong!<% end %>

    <%= formex_rows f %>

  <% end %>
</div>
